# List

In [5]:
student1 = 'ali'
student2 = 'hamza'

In [6]:
students = ['ali', 'hamza', 'asad', 'saqib']
#index         0     1        2        3
type(students)

list

In [7]:
aList = ['karachi', 120, 34.5, True]
aList

['karachi', 120, 34.5, True]

In [8]:
students[4]

IndexError: list index out of range

In [9]:
del students[2] # inplace (delete by index)
students

['ali', 'hamza', 'saqib']

In [10]:
students.remove('saqib') #remove by value
students

['ali', 'hamza']

In [11]:
students.remove('saqib')
students

ValueError: list.remove(x): x not in list

In [12]:
students[1] = 'hussain' #update
students

['ali', 'hussain']

In [13]:
city = []

In [14]:
city.append('karachi') # to insert value
city

['karachi']

In [15]:
city.append('lahore')
city

['karachi', 'lahore']

In [16]:
city.insert(2, 'sibi') #to insert on particular index
city

['karachi', 'lahore', 'sibi']

In [17]:
city.insert(20, 'quetta')
city

['karachi', 'lahore', 'sibi', 'quetta']

In [75]:
len(city)

0

In [76]:
city.clear()

In [77]:
city

[]

In [78]:
sortList = [2, 56, 23, 3, 87, 9]

In [79]:
sortList.sort()
sortList

[2, 3, 9, 23, 56, 87]

In [80]:
sortList.sort(reverse = True)
sortList

[87, 56, 23, 9, 3, 2]

In [81]:
aList = ['hamza', 'a', 'c', 'z', 'b']

In [82]:
aList.sort()
aList

['a', 'b', 'c', 'hamza', 'z']

In [83]:
aList.reverse()
aList

['z', 'hamza', 'c', 'b', 'a']

In [84]:
numbers = [34, 5, 89, 23, 67, 98]

In [85]:
k=numbers
k

[34, 5, 89, 23, 67, 98]

In [86]:
numbers.append(100)

In [87]:
numbers

[34, 5, 89, 23, 67, 98, 100]

In [88]:
k

[34, 5, 89, 23, 67, 98, 100]

In [34]:
k.append(200)

In [35]:
numbers

[34, 5, 89, 23, 67, 98, 100, 200]

In [36]:
a=numbers.copy() #First method

In [37]:
a

[34, 5, 89, 23, 67, 98, 100, 200]

In [38]:
a.append(500)

In [39]:
numbers

[34, 5, 89, 23, 67, 98, 100, 200]

In [40]:
a

[34, 5, 89, 23, 67, 98, 100, 200, 500]

In [41]:
b=a[:] #similar as copy method
#second method

In [42]:
b

[34, 5, 89, 23, 67, 98, 100, 200, 500]

# List into List

In [1]:
list1=[1,2,3,4,5,['apple','orange','mango'] , 'students']
#index 0 1 2 3 4              5               6

In [2]:
list1[5]

['apple', 'orange', 'mango']

In [3]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], 'students']

In [4]:
list1[5][2]

'mango'

In [5]:
list1[6][0]

's'

In [6]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], 'students']

In [7]:
list1[6].insert(1,'Asadullah')
list1

AttributeError: 'str' object has no attribute 'insert'

In [8]:
students

NameError: name 'students' is not defined

In [9]:
list1[6].remove('Asadullah')
list1

AttributeError: 'str' object has no attribute 'remove'

In [10]:
students

NameError: name 'students' is not defined

In [11]:
4 in list1

True

In [12]:
'mango' in list1[5]

True

# Slicing

In [13]:
list2=['a','c','d','e','f']
#index  0   1   2   3   4
list2

['a', 'c', 'd', 'e', 'f']

In [14]:
s=list2[2:4]
s

['d', 'e']

In [15]:
s=list2[2:5]
s

['d', 'e', 'f']

In [16]:
s=list2[2:]
s

['d', 'e', 'f']

In [17]:
s=list2[:3]
s

['a', 'c', 'd']

In [18]:
s=list2[:]
s

['a', 'c', 'd', 'e', 'f']

In [19]:
s=list2[4:2]
s
#slicing always from left to right

[]

# negative indexing

In [20]:
list3=['apple', 'oranges', 'bananas', 'grapes','melon','peech ','watwermeloon']
#index   -7        -6        -5         -4       -3       -2         -1

In [21]:
list3[-6]

'oranges'

In [22]:
list3[-4]

'grapes'

In [65]:
s=list3[-5:]
s
list3

['apple', 'oranges', 'bananas', 'grapes', 'melon', 'peech ', 'watwermeloon']

In [66]:
s=list3[-5:1]
s

[]

In [67]:
s=list3[-5:5]
s

['bananas', 'grapes', 'melon']

In [68]:
s=list3[:]
s

['apple', 'oranges', 'bananas', 'grapes', 'melon', 'peech ', 'watwermeloon']

# popping

In [69]:
list4=['asad','hamza','ali']
a=list4.pop()
print(list4)
a

['asad', 'hamza']

'ali'

In [70]:
list5=['asad','hamza','ali','asad','saad']

In [71]:
poppedList=[]

In [72]:
poppedValue=list5.pop()
poppedList.append(poppedValue)

In [73]:
print(list5)
poppedList

['asad', 'hamza', 'ali', 'asad']

['saad']

In [74]:
# a=list4.pop(1)
# a